<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>UO</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "⚙", user_session_path %></li>
        <li><%= link_to "ロ", destroy_user_session_path, method: :delete %>
        </li>
        <li></li>
      </ul>
    </nav>
  </header>

  <%= yield %>

  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>

</body>

</html>